@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@700&display=swap');


/* fades in elements */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}
/* sets visibility to 1 */
.visible {
    opacity: 1;
}

/* body style */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

/* Sets the font for heading elements */
h1, h2, h3 {
    font-family: 'Merriweather', serif;
    
}

/* sets the color for visted links to white */
a:visited{
    color: #ffffff;
}

/* sets the color of links to white */
a:link {
    color: #ffffff;
  }

  /* sets the color to grey when a user hovers over a clickable link */
a:hover {
    color: rgb(120, 120, 120);
}

/* sets the header to blue and the color of text to white */
header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* set the margin and line spacing for List items */
li{
    margin-top: 8px;
    line-height: 1.5;
}

/* sets line spacing for paragraphs */
p{
    line-height: 1.5;
}

/* used for thumbnails and creating rows */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

h1 {
    margin: 0;
}

/* sets the text color to blue and makes it xx-large */
h2 {
    color: #007BFF;
    font-size: xx-large;
}

/* sets h3 elements to a baby blue and makes it x-large */
h3{
    color: #97caff;
    font-size: x-large;
}

/* adds padding to our main section */
main {
    padding: 20px;
}

/* sets the background color to  */
section {
    margin-bottom: 20px;
    background: #28282B;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* gives some extra white space to job and education class */
.job, .education {
    margin-bottom: 10px;
}

/* creates a footer and sets the background color to blue and the text to white */
footer {
    text-align: center;
    padding: 10px;
    background: #007BFF;
    color: #fff;
    position: relative;
    bottom: 0;
}

/* creates the light box for displaying large images */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

/* sets the max width and height to 90%  */
.lightbox img {
    max-width: 90%;
    max-height: 90%;
}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    padding-right: 3%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 40px;
    font-weight: bold;
  }
  
  /* when you hover over the exit button it changes color */
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #ffffff !important; 
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* when you hover over the next or previous arrows it changes colors */
  .prev:hover,.next:hover{
    color: rgb(160, 160, 160) !important;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  /* creates a smooth transistion when hovered over */
  iframe {
    transition: filter 0.5s ease;
  }
  /* darkens the iframe when hovered over */
  iframe:hover {
    filter: brightness(0.75); 
  }

  /* Creates a transistion for when the image is hovered over */
  img.hover-shadow {
    transition: 0.5s;
  }
  
  /* Used to create a shadow box when image is hovered over */
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* Sets images to a good width and height as well as rounds off the edges / creates a smooth transistion and when a pointer hovers over the image it chagnes to a clicker */
.images{
    width: 200px;
    height: 140px;
    border-radius: 5%;
    transition: filter 0.5s ease;
    cursor: pointer;
  }

  /* dims the image when hovered over */
  .images:hover {
    filter: brightness(50%);
}

  /* Used for adding space between behance iframes and aligning them */
  .behance{
    padding: 5px;
    align-content: center;
  }

  /* changes the display type to inline block */
  .inline{
    display: inline-block;
  }

  /* shrinks the iframes (behance) when the width of the webpage shrinks  */
  @media (max-width: 968px) {
    iframe {
        width: 250px;
        height: 197px;
    }
}
/* shrinks the iframes when the width of the webpage shrinks */
@media (max-width: 480px) {
    iframe {
        width: 200px;
        height: 158px;
    }
}

/* Sets the about section to flex display and center aligns-items */
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Sets the profile picture to a max width of 300 and adds some margin to the right */
.about-image {
    max-width: 300px;
    margin-right: 20px;
}

.about-section p {
    flex: 1;
}

@media (max-width: 650px) {
    .about-section {
        flex-direction: column; /* Stack the items vertically */
        align-items: flex-start; /* Align items to the left */
    }

    .about-image {
        margin-right: 0;
        margin-bottom: 10px; 
    }
}