@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

html {
    scroll-behavior: smooth;
}

/* Fade-in effect */
.fade-in {
    opacity: 0;
    transition: opacity 0.6s ease-in;
}
.visible {
    opacity: 1;
}

/* Body style */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

/* Heading styles */
h1, h2, h3 {
    font-family: 'Merriweather', serif;
    margin: 0;
}
h2 {
    color: #007BFF;
    font-size: xx-large;
}
h3 {
    color: #97caff;
    font-size: x-large;
}

/* Link styles */
a {
    color: #fff;
    transition: color 0.3s ease;
}
a:visited {
    color: #fff;
}
a:hover {
    color: rgb(120, 120, 120);
}

/* List and paragraph styles */
li, p {
    line-height: 1.5;
    margin-top: 8px;
}

/* Row and layout styles */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    padding-right: 3%;
}

/* Main section styles */
main {
    padding: 20px 10%;
}

/* Section styles */
section {
    margin-bottom: 20px;
    background: #28282B;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

/* Job and education styles */
.job, .education {
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border-radius: 15px 15px 0 0;
}

/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.lightbox img {
    max-width: 90%;
    max-height: 90%;
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}
.lightbox:target img {
    transform: scale(1);
    opacity: 1;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}
.modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}
.modal-content, .close {
    animation: zoom 1.6s;
}
@keyframes zoom {
    from {transform: scale(0.5)}
    to {transform: scale(1)}
}
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.4s;
}
.close:hover, .close:focus {
    color: #999;
    cursor: pointer;
}

/* Slide styles */
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: #fff !important;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    user-select: none;
}
.prev:hover, .next:hover {
    color: rgb(160, 160, 160) !important;
}
.next {
    right: 0;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

/* Image styles */
img.hover-shadow {
    transition: 0.5s;
}
.images {
    width: 200px;
    height: 140px;
    border-radius: 5%;
    transition: filter 0.5s ease;
    cursor: pointer;
}
.images:hover {
    filter: brightness(50%);
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
.featured-link {
    border: 4px solid #0077ff;
    box-shadow: 0 15px 30px rgba(0, 119, 255, 0.5);
    transition: transform 0.4s ease;
    width: 260px;
    height: 200px;
}
.featured-link:hover {
    transform: scale(1.1);
}

/* Caption styles */
.image-caption-container {
    text-align: center;
    position: relative;
    margin-top: 8px;
}
figcaption {
    padding: 7px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

/* Misc styles */
.inline {
    display: inline-block;
}
.section-title {
    font-size: 1.75em;
    margin-bottom: 10px;
}
.date {
    font-size: 16px;
    color: #888;
    margin-bottom: 15px;
}
.service-list {
    list-style-type: disc;
    padding-left: 20px;
    max-width: 800px;
}
.project-description {
    max-width: 950px;
}
.service-item {
    font-size: 16px;
    margin-bottom: 10px;
}
.key-skills {
    font-size: 18px;
    margin-top: 15px;
    max-width: 950px;
}
.parent {
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.button:hover {
    filter: brightness(50%);
    transform: scale(1.1);
}
a.button {
    color: black;
    background-color: white;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin: auto;
    transition: filter 0.5s ease, transform 0.4s ease;
}

.YJA{
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid white 3px;
}

h4{
  display: block;
  text-align: center;
  font-size: xx-large;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 5px;
  cursor: pointer;
  text-decoration: none;
}

.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 20px; 
  background-color: #007BFF; 
  transition: opacity 0.5s ease;
  position: relative; 
  z-index: 1; 
  opacity: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 20px; 
}

.hero-profile {
  display: flex; 
  align-items: center; 
  text-align: center; 
  flex-direction: row; 
}

.hero-profile-image {
  width: 32vw; 
  height: 32vw;
  max-width: 550px; 
  max-height: 550px; 
  border-radius: 50%; 
  object-fit: cover; 
  border: 5px solid white; 
  object-position: center; 
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5); 
  margin-right: 30px; 
}

.hero-about-text {
  max-width: 600px; 
  font-size: 1.3rem;
  line-height: 1.5; 
  font-weight: 100;
}

@media (max-width: 1230px) {
  .hero-profile-image {
    width: 350px; 
    height: 350px; 
  }
  .hero-about-text {
    font-size: 1.1rem; 
    max-width: 530px;
  }
  
}

@media (max-width: 992px) {
  .hero-profile-image {
    width: 300px; 
    height: 300px; 
    margin-bottom: 20px; 
    margin-right: 0;
  }

  .hero-about-text {
    font-size: 1.05rem; 
  }

.hero-profile {
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}
}

@media (max-width: 768px) {
  main {
    padding-left: 5%;
    padding-right: 5%;
}
}

@media (max-width: 576px) {
  .hero-profile-image {
    width: 250px; 
    height: 250px; 
  }

  .hero-about-text {
    font-size: 0.9rem; 
  }

  .contact-info {
    font-size: 0.9rem;
    padding: 15px;
  }

  .contact-info a {
    display: block;
    margin: 5px 0;
  }

}

.contact-info {
  text-align: center;
  padding: 20px;
  font-size: 1.1rem;
  color: #fff;
  background-color: #28282B;
  border-radius: 5px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info a {
  color: #79b0ec;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.contact-info a:hover {
  color: #0056b3;
  transform: translateY(-2px);
}