.bento-wrapper {
  padding: 2rem;
  background-color: var(--bg-color);
  min-height: 100vh;
}

.bento-grid {
  display: grid;
  gap: 1.5rem;
  max-width: 1100px;
  margin: 0 auto;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 160px);
  grid-template-areas:
    "box1 box1 box2 box3"
    "box1 box1 box4 box4"
    "box5 box5 box4 box4";
}

.bento-item {
  border-radius: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.bento-item > img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 24px;
  object-fit: cover;
}

.bento-item:hover {
  transform: translateY(-5px);
}

.item-1 {
  grid-area: box1;
}
.item-2 {
  grid-area: box2;
}
.item-3 {
  grid-area: box3;
}
.item-4 {
  grid-area: box4;
}
.item-5 {
  grid-area: box5;
}

.special-item {
  list-style: none;
  font-weight: bold;
}

@media (max-width: 900px) {
  .bento-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "box1 box1"
      "box2 box3"
      "box4 box4"
      "box5 box5";
  }
    .bento-item{
    max-height: 400px;
  }
}

@media (max-width: 500px) {
  .bento-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "box1"
      "box2"
      "box3"
      "box4"
      "box5";
  }
  .bento-item{
    max-height: 400px;
  }
}
