.box {
  padding: 5% 2.5%;
  bottom: 0;
  width: 100%;
  font-family: var(--BodyFont);
}

.footerContainer {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .footerContainer {
    text-align: center;
  }
}

.row {
  display: flex;
  width: 100%;
  gap: 30px;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.left {
  margin-right: auto;
}

.footerLink {
  color: #285545;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
  transition: 200ms ease;
}

.footerLink:hover {
  color: #56b594;
}

.heading {
  font-size: 24px;
  margin-bottom: 40px;
  font-weight: bold;
  font-family: var(--HeaderFont);
}

.iconLabel {
  margin-left: 10px;
}
