.HeroImage {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  object-fit: cover;
  width: 100vw;
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
  animation: fadeUp 1s ease forwards;
}

@media screen and (max-width: 620px) {
  .HeroImage {
    margin-top: 25%;
    background-color: aqua;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
