.ImageBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: -35px;
  margin-top: 45px;
}

.ImageBlock > figure > img {
  border-radius: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  display: block;
  overflow: hidden;
}

.ImageBlock > figure {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.ImageBlock > figure > figcaption {
  opacity: 0;
  margin-top: 8px;
  font-size: 14px;
  color: #666666;
  text-align: left;
  font: "inter", sans-serif;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.ImageBlock > figure > img:hover + figcaption {
  opacity: 1;
  transform: translateY(5px);
}

@media (pointer: none), (pointer: coarse) {
  .ImageBlock > figure > img + figcaption {
    opacity: 1;
  }
}
