.HeroVibes-Section.Hero {
  height: 70vh;
  background: var(--bg);
  min-height: 562px;
  display: flex;
  flex-direction: column;
  max-height: 800px;
}

.HeroVibes-Section .Hero--Content {
  height: auto;
  z-index: 2;
}

.HeroVibes-Section .Hero--Content > h1 {
  font-size: 120px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Acorn-Bold", sans-serif;
}

.HeroVibes-Section .Column-List {
  display: flex;
  gap: 80px;
  justify-content: center;
  font-family: "inter", "sans-serif";
  padding-top: 30px;
  text-align: left;
  height: auto;
}

.HeroVibes-Section .Column-List > div > h2 {
  color: #397a63;
}

.HeroVibes-Section .Column-List > div > p {
  color: #285545;
}

@media screen and (max-width: 720px) {
  .HeroVibes-Section .Hero--Content > h1 {
    font-size: 110px;
  }
}
