.ImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 22px;
  padding-right: 22px;
  margin-top: 45px;
  gap: 1em;
}

.ImageContainer > figure > img {
  flex: 1;
  aspect-ratio: 12 / 16;
  border-radius: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  display: block;
}

.ImageContainer > figure {
  max-width: 550px;
  width: 32%;
  display: flex;
  flex-direction: column;
}

.ImageContainer > figure > figcaption {
  opacity: 0;
  margin-top: 8px;
  font-size: 14px;
  color: #666666;
  text-align: left;
  font: --BodyFont;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.ImageContainer > figure > img:hover + figcaption {
  opacity: 1;
  transform: translateY(5px);
}

@media (pointer: none), (pointer: coarse) {
  .ImageContainer > figure > img + figcaption {
    opacity: 1;
  }
  .ImageContainer > figure > img:hover + figcaption {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .ImageContainer {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .ImageContainer > figure {
    width: 80%;
  }
}
