.TextBlock {
  max-width: 600px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.TextBlock > h1 {
  font-size: 50px;
  color: #285545;
  font-family: "Acorn-Bold", sans-serif;
}

.TextBlock > p {
  font-size: 20px;
  line-height: 1.3;
  color: #508673;
  white-space: "pre-line";
  font-family: "inter", sans-serif;
}
